name: Manual Scan Triage and Remediation

permissions:
  contents: read
  id-token: write

on:
  workflow_dispatch:

jobs:
  triageAndRemediation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run Semgrep
        run: |
          pip install semgrep
          semgrep scan --config auto --json --output semgrep_results.json .
      - name: AppSecAI Security Analysis
        uses: AppSecureAI/automation-action@v1
        with:
          file: semgrep_results.json

